Source: restartx
Section: x11
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.7.2

Package: restartx
Architecture: all
Depends: dialog, xsession-sidux, su-me
Recommends: xdialog
Description: shell GUI for restarting the sidux desktop
 Don't use this tool on your installed system.
